<!-- TOPBAR -->
<header class="red wrapper">
    <div class="contain-to-grid large-12 columns">
    <nav role="navigation" class="top-bar" data-topbar>
           <ul class="title-area">
               <li><a><img src="assets/logo.svg" class="logo-sm"></a></li>
               <li class="toggle-topbar menu-icon"><a href="#">Menu</li>
               </ul>
            <section class="top-bar-section">
            <ul class="left">
                <li><a href="#">FEATURES</a></li>
                <li><a href="#">PRICING</a></li>
                 <li class="has-dropdown">
                    <a href="#">MORE</a>
                    <ul class="dropdown">
                        <li><a href="#">GUIDES</a></li>
                        <li><a href="#">PARTNERS</a></li>
                        <li><a href="#">EXAMPLES</a></li>
                        <li><a href="#">GALLERY</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="right">
              <li><a href="#">LOGIN</a></li>
            </ul>
       </section>
       
    </nav>
     </div>
</header>

<!-- HERO -->

<div class="hwrapper">
<div class="row hero">
 <div class="small-8 medium-7 large-8 small-centered columns">
   <h1>Create and share your forms.</h1>
 </div>
</div>
<div class="row btn">
 <a href="#" class="button large" id="btn1">PRO SINGUP</a>
 &nbsp;
 <a href="#" class="button large" id="btn2">SINGUP FREE</a>
</div>
<img class="imgs dino1" src="assets/dino11.svg">
<img id="c1" class="imgs clouds" src="assets/cloud-10.svg">
<img id="c2" class="imgs clouds" src="assets/cloud-10.svg">
<img id="c3" class="imgs clouds" src="assets/cloud-10.svg">
<img id="c4" class="imgs clouds" src="assets/cloud-10.svg">
</div>

<!-- TEXTBLOCK1 -->
<div class="text-block">
  <h2>Building online forms can be hard.<br><span class="blue">Wufoo</span> makes it easy.</h2>
  <p>
            Our form designer can help you create contact forms, online surveys and
            invitations so you can collect the data, registrations and payments
            you need.
          </p>
</div>

<!-- DESCRIPTIONS1 -->
<div class="ddwrapper gray">
 <div class="row">
 <div class="large-4 medium-6 small-12 columns dd">
   <dl class="desc">
    <a class="bluecon" href="#"><i class="fi-social-xbox sicon"></i></a>
   
   <dt><a href="#" class="blue">CREATE A FORM!</a></dt>
   <dd>Use our easy form builder to customize and design your form.</dd>
   </dl>
  </div>
  <div class="large-4 medium-6 small-12 columns dd">
  <dl class="desc">
    <a href="#" class="bluecon"><i class="fi-social-picasa sicon"></i></a>
   
   <dt><a href="#" class="blue">SHARE IT!</a></dt>
   <dd>Link to our pages. Embed on your site. Or use our REST API.</dd>
   </dl>
  </div>
  
  <div class="large-4 medium-6 small-12 columns dd">
  <dl class="desc">
    <a href="#" class="bluecon"><i class="fi-social-stack-overflow sicon"></i></a>
   
   <dt><a href="#" class="blue"> GET YOUR DATA!</a></dt>
   <dd>We can email or text you as data comes in. Or set up a real-time report!</dd>
   </dl>
  </div>
 </div> 
 <div class="row btn">
   <a href="#" class="button large" id="btn3">Try Our Form Builder</a>
 </div>
</div>

<!-- TEXTBLOCK2 -->
<div class="text-block ">
  <h2>Wufoo has the <span class="redt">features&nbsp;</span> you love.</h2>
  <p>
            Our form builder gives you an award-winning interface, easy customization, galleries, templates and reporting!
          </p>
</div>

<!-- DESCRIPTIONS2 -->

<div class="ddwrapper red">
 <div class="row">
     
    
 <div class="large-3 medium-6 small-6 columns dd">
   <dl class="desc white">
    <a href="#" class="redcon"><i class="fi-social-evernote sicon"></i></a>
   <dt><a href="#">CREATE A FORM!</a></dt>
   <dd>Use our easy form builder to customize and design your form.</dd>
   </dl>
  </div>
  

  <div class="large-3 medium-6 small-6 columns dd">
  <dl class="desc white">
    <a href="#" class="redcon"><i class="fi-social-snapchat sicon"></i></a>
   <dt><a href="#">SHARE IT!</a></dt>
   <dd>Link to our pages. Embed on your site. Or use our REST API.</dd>
   </dl>
  </div>
  
 
  <div class="large-3 medium-6 small-6 columns dd">
  <dl class="desc white">
    <a href="#" class="redcon"><i class="fi-social-reddit sicon"></i></a>
   
   <dt><a href="#"> GET YOUR DATA!</a></dt>
   <dd>We can email or text you as data comes in. Or set up a real-time report!</dd>
   </dl>
  </div>
   
 
   <div class="large-3 medium-6 small-6 columns dd">
  <dl class="desc white">
    <a href="#" class="redcon"><i class="fi-social-game-center sicon"></i></a>
   
   <dt><a href="#"> GET YOUR DATA!</a></dt>
   <dd>We can email or text you as data comes in. Or set up a real-time report!</dd>
   </dl>
  </div>
  
 </div> 
 <div class="row btn">
   <a href="#" class="button large" id="btn4">See More Features</a>
 </div>
</div>

<!-- TEXTBLOCK3 -->
<div class="text-block ">
  <h2>We have plans from <span class="purple">Free </span>to <span class="purple">Unlimited</span>.</h2>
  <p>
            Check out our <span class="purple">pricing</span> page for plan details.
          </p>
</div>

<!--DINOBLOCK-->
<div class="dwrapper is-purple">
 <section>
     <div class="small-8 medium-7 large-8 small-centered columns">
       <h3>Ready to get Started?<span> It's Free!</span></h3>
     </div>
     
     <div class="row btn">
         <a href="#" class="button large" id="btn5">SIGN UP NOW</a>
     </div>
     
     <img id="c5" class="imgs clouds" src="assets/cloud-10.svg">
     <img id="c6" class="imgs clouds" src="assets/cloud-10.svg">
     <img class="imgs raptor" src="assets/raptor.svg">
     <img class="imgs tricer" src="assets/tricer.svg">
 </section>
    
</div>